body,
html {
  background: url("/ltimg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  overflow:hidden;
}
* {
  box-sizing: border-box;
}
