
.loginWrap {
  background:#fff;
  padding: 5px auto !important;
  border-radius: 15px;
  color: #666;
  border: 4px double #000018;
  opacity: 0.8;
  margin: 10% auto;
  max-height: 360px;
  height:360px;
}
.loginWrap h3 {
  text-align: center;
  margin-bottom: 10%;
}
.centerText {
  text-align: center;
}
.w95 {
  max-width: 95%;
}
.marginTop0 {
  max-width: 80% !important;
  margin-top:13%;
}

.input-id {
  display: inline-block;
  position: relative;
}

.input-id:after {
  font-family: "FontAwesome";
  content: "\f007";
  position: absolute;
  right: 6px;
  top: 15px;
  padding: 0px 5px;
  background: white;
}

.input-pwd {
  display: inline-block;
  position: relative;
}

.input-pwd:after {
  font-family: "FontAwesome";
  content: "\f084";
  position: absolute; 
  right: 6px;
  top: 15px;
  padding: 0px;
  background: white;
}
.form-horizontal {
  padding-left: 5%;
}

label.control-label{
  top:10px;
  left:5px;
  position:absolute;
  transition:all 0.2s;
  font:0.05em;
  margin-left:5%;
  
}

input[type='text']:focus + label, input[type='password']:focus + label{
 top:-30%;
 margin-bottom:16px;
 font-size:75%;
 font-weight:bold;
 opacity:1 !important;
}

input[type='text']:valid + label,input[type='password']:valid + label{    
  top:-30%;
  font-size:75%;
  font-weight:bold;
}

.marginTopNegative
{
  margin-top:-5%;
}
@media all and (min-width:481px) and (max-width: 768px) {

  .loginWrap {
    margin: 15% auto;
  }
  
.marginTop1
  {
    margin-top:35%;
    
  }
} 
@media all and (min-width:320px) and (max-width: 480px) {

  .loginWrap {
    margin: 25% auto;
  
  }
  .marginTop2
  {
    margin-top:37%;
    
  }  
}
