.selAllSmall
{
 display:none !important;  
}
.smButton
{  
  position:relative;
  top:5px;
}
.marginTop3
{
  margin-top:2% !important;
}
.labelPad6
{
  padding-top:6%;  
}
.marginTop
{
  margin-top:10% !important;
  overflow:auto;
  background:rgb(212, 204, 204);
  margin:0px;
  padding:0px;
 
}

table.tblsuper td span{
  cursor: help;
}


.tblflexSuper {
  display: flex;
  flex-direction: column;
  margin-top:5%;
  width:100%;
}

.tblflexSuper thead {
 color: rgb(163, 68, 73); 
 background: #53f088;
 font-size:10px;
 font-weight: 700;  
 
}

.tblflexSuper thead tr,
.tblflexSuper tbody tr {
  display: flex;    
}

.tblflexSuper tbody tr {   
  background:  rgb(165, 163, 163);
}

.tblflexSuper thead tr th,
.tblflexSuper tbody tr td {
  display: flex;
  flex: 1; 
  padding:1%;    
  word-break: break-word;
  border:1px solid white;
  text-align: center;
  vertical-align: middle;
}
.tblflexSuper tbody tr td {
 word-break: break-word;
  font-size:12px;
  color:black;
  font-weight: 700;  
  
  
}

.tblflexSuper tbody tr td  .btn,div.custom-checkbox > button.btn {
  word-break: break-word;
  font-size:9px;
  color:#000000;
  font-weight: 700;     
  
}

.check{
  display:none !important;
}

.smButton2
  {
    display:none !important;
  }

@media screen  and (max-width: 890px) {
  .smButton2
  {
    display:inline-block !important;
      width:20%;
      position:relative;
      top:1%;
      left:1%;
  }

  .paddingSM
  {   
   padding-top:3% !important;
  }
  .check{
    display:block !important;
    position:relative !important;
    top:-10px;
    background:#53f088;
    color:rgb(163, 68, 73);
    padding:2%;
    font-weight:600;
    
  }
  .selAllSmall
  {
    margin-bottom:2%;
    font-weight: 900 !important;  
    display:block !important;
    position:relative !important;
    top:-12px;
    background:silver;
    color:rgb(163, 68, 73);
    padding:2%;
    
  }
     
  .tblflexSuper thead {
      display: none;
  }
  .tblflexSuper tbody tr {
      flex-direction: column;     
      margin:1%;              
      border: 1px solid #ccc;
      background:  rgb(165, 163, 163);
  }
  .tblflexSuper tbody tr td {
      flex-direction: column;
      padding-bottom:2% !important;
      
  }
  .tblflexSuper tbody tr td+td {
      border-top: 1px solid #ccc;
  }
  
  .tblflexSuper tbody tr td:before {
        display: flex;
        align-items: center;        
        padding:2%;
        content: attr(col-header);       
        color: rgb(163, 68, 73);      
        font-weight: 600;
        background: #53f088;
    }
  
  .tblsuper tbody {
  
    height: 40vh !important; 
  }

  
.marginTop
{
  margin-top:25% !important;
 
}

}



@media screen and (min-width:320px) and (max-width: 480px) {
  .marginTop
  {
    margin-top:35% !important;
  }
  
}

.tblsuper tbody {
  
  height: 20vh; 
 width:100%;
}
caption{
  font:30px bold;
  text-align: center;
 
}
